<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/global.css">

</head>
<body>

    <h1>Find Your State Senator(s)</h1>

    <form method="POST" action="/my-representatives" >
        <label>Enter State Abbreviation (2 Characters):</label><br />
        <input type="text" name="state"><br />
        <input type="submit">
    </form>

    <a href="/api/members" target="_blank">Visit the API</a>
</body>
</html>